nav{
    padding: 0 150px;
    height: 50px;
}

footer{
    height: 200px;
    background-color: bisque;
}

.main{
    z-index: 0;
    height: 1000px;
    background-color: aliceblue;
    position: relative;
}

img{
    width:100%;
    height: 1000px;
}

.mainTitle{
    width: 100%;
    height: 200px;
    background-color: white;
    top: 20%;
    position: absolute;
}

h1{
    z-index: 2;
    margin: 0;
    font-size: 4em;
}

h2{
    font-size: 4em;
}
.menuContainer{
    border-left: 10px;
}
a{
    color: black;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

.eachMenu{
    z-index: 1;
    border-left: 20px;
    line-height: 50px;
    float: right;
    font-size: 1.3em;
    text-align: center;
    height : 50px;
}
.eachMenu:hover{
    cursor: pointer;
}

.home{
    float: left;
    line-height: 50px;
    font-size: 1.3em;
    text-align: center;
    height: 50px;
}

.contact{
    margin-left: 20px;
}

.contactInput{
    margin: 10px;
    width:300px;
    font-size:1.3em;
}

textarea{
    height: 200px;
}

.submitButton{
    margin-left: 10px;
    font-size: 1.3em;
}

.backButton{
    font-size: 1.5em;
}
.backButton:hover{
    cursor: pointer;
}

.mdl {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    visibility: hidden;
  }
  
  .mdl.show {
    visibility: visible;
  }
  
  .mdl-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .mdl .sidebar {
    position: absolute;
    background-color: #fff;
    border-left: 1px solid #ccc;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    top: 50px;
    right: 0;
    bottom: 0;
    width: 20%;
    transform: translateX(100%);
    padding: 20px;
    transition: transform 0.5s;
  }
  
  .mdl.show .sidebar {
    transform: translateX(0);
  }